/* -Global style */

body {
    height:100%;
    max-width: 100%;
    background: url(assets/images/running.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Martian Mono', monospace;
    color: rgb(253, 253, 253);
}

.counter {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
}

#logo {
    color:rgb(47, 182, 192);
}


.submit {
    text-align: center;
    font-family: 'Martian Mono', monospace;
    padding-bottom: 10px;
}


.submit-button {
    font-family: 'Martian Mono', monospace;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ee2382cb;
}

.submit-button:hover {
    text-transform: uppercase;
    border-color: white;
    background-color: rgba(95, 92, 92, 0.562);
    color: rgb(252, 238, 51);
    font-weight: bold;
}

.username {
    text-align: center;
    background-color: #ebee23a4;
    box-sizing: border-box;
    height: 60px;
    max-height: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 25px;
    font-family: 'Martian Mono', monospace;
    color: black;
}

.lap-count-area {
    background-color: rgba(51, 59, 66, 0.562);
    box-sizing: border-box;
    width: 55%;
    height: 15vh;
    max-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-family: 'Martian Mono', monospace;
}

.lap-count {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    font-family: 'Martian Mono', monospace;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 5%;
}

.base-timer {
    margin-left: 800px;
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(47, 182, 192);
  }
  
  .base-timer__path-remaining.orange {
    color: rgb(252, 238, 51)e;
  }
  
  .base-timer__path-remaining.red {
    color: #ee2382cb;
  }
  
  .base-timer__label {
    margin-left: 5px;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }

.ranking-area {
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(51, 59, 66, 0.562);
    width: 550px;
    height: 50pxh;
    max-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 15px;
 }

 #lap-button:hover {
    text-transform: uppercase;
    border-color: white;
    background-color: rgba(221, 211, 213, 0.562);
    color: rgb(252, 238, 51);
    font-weight: bold;
 }


 #new-opponent-button:hover {
    text-transform: uppercase;
    border-color: white;
    background-color: rgba(221, 211, 213, 0.562);
    color: rgb(252, 238, 51);
    font-weight: bold;
 }

 .scoresheet-button {
    font-family: 'Martian Mono', monospace;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ee2382cb;
 }

 .scoresheet-button:hover {
    text-transform: uppercase;
    border-color: white;
    background-color: rgba(221, 211, 213, 0.562);
    color: rgb(252, 238, 51);
    font-weight: bold;
 }

 @media (max-width: 320px) {

    .lap-count-area {
        width: 75%;
        height: 75%;
        margin: 10px auto;
    }

}