/* -Global style */

body {
    height:100%;
    max-width: 100%;
    background: url(../images/running.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Martian Mono', monospace;
    color: rgb(253, 253, 253);
}

.counter {
    text-align: center;
    font-size: 5rem;
}


.submit {
    text-align: center;
}

.username {
    text-align: center;
}

.lap-count-area {
    background-color: #6e96b1a4;
    box-sizing: border-box;
    width: 55%;
    height: 10vh;
    max-height: 250px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-family: 'Martian Mono', monospace;
}

.lap-count {
    display: inline-block;
    font-size: 16px;
    text-align: center;
}
