/* -Global style */

body {
    height:100%;
    max-width: 100%;
    background: url(../images/running.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Martian Mono', monospace;
    color: rgb(253, 253, 253);
}

.counter {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
}


.submit {
    text-align: center;
    font-family: 'Martian Mono', monospace;
    padding-bottom: 10px;
}

.username {
    text-align: center;
    background-color: #ebee23a4;
    box-sizing: border-box;
    height: 5vh;
    max-height: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    padding: 0%;
    font-family: 'Martian Mono', monospace;
    color: black;
}

.lap-count-area {
    background-color: rgba(51, 59, 66, 0.562);
    box-sizing: border-box;
    width: 55%;
    height: 15vh;
    max-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-family: 'Martian Mono', monospace;
}

.lap-count {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    font-family: 'Martian Mono', monospace;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 5%;
}

.ranking-area {
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(51, 59, 66, 0.562);
    width: 10%;
    height: 20vh;
    max-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
 }

 #lap-button:hover {
    text-transform: uppercase;
    border-color: white;
    background-color: rgba(255, 0, 64, 0.562);
    color: rgb(252, 238, 51);
    font-weight: bold;
 }


